# git+https://github.com/huggingface/diffusers
diffusers==0.30.2 # for ComfyUI
opencv-python
uvicorn
fastapi
torch
huggingface_hub
transformers
sentencepiece
accelerate
python-multipart
protobuf
einops
pandas
jupyterlab
gradio
gradio_imageslider
peft
loguru
matplotlib
python-dotenv
ruff